<div class="who-we-are">
    <div style="margin-left: auto;margin-right: auto;">
    <div>
        <h2>Why Us</h2>
        <div style="margin-left: 9%;margin-right: 9%;">
            <article>
                <p>
                    With our global reach we can provide traffic, offers and content anywhere in the world

                    We provide marketers with unique solutions for targeting and acquiring profitable users

                    For our Publishers, we make sure that we match them with the best affiliate program.
                </p>
                   
                    <p>
                        We have a total of 30 billion impressions per day in 200+ countries with a n approximate total of 16
                        million different placements available.
                    </p>
                    <p>
                        We have helped our partners to bring down acquisition cost by upto 50 for CPI businesses, and have
                        provided unparalleled reach with awesome results for our branding clients.
                    </p>

                   

                    

                 <p>   We can meet all your traffic needs We can provide Banner, Interstitial, Video inventory through
                    MRAID VAST, JS tags (Non Rotating), Click URL with banner, etc
                </p>
                <p>
                    We are equipped with a highly skilled and responsive team that can handle all your requests and give
                    you the best possible solution within the shortest span of time
                </p>
                </article>
        </div>
    </div>
</div>
</div>