<div class="who-we-are">
    <div style="margin-left: auto;margin-right: auto;padding-top: 2%;" >
    <div style="margin-left: 9%;margin-right: 9%;">
        <h2>What We Do</h2>
        <article >
            <h3> BRANDING STRATEGY</h3>
 
           <p>  We help our business partners in branding on different modules. With a dedicated experts team the process
             proves fruitful to each of our clients and let the product grow with a faster pace.
         </p>
           <h3>  Mobile Marketing</h3>
 
           <p>  We help you place your ads on India’s biggest mobile networks and provide you with quality traffic for app
             downloads all over the Globe.
         </p>
 
           <h3>
             Banner Ads
           </h3>  
 
            <p> We help you increase your brand visibility with our banner ads. You can place the banners on over 1000+
             websites with single click with our latest ad server technology.
         </p>
         </article>
    </div>
</div>
</div>