<!-- <owl-carousel-o [options]="customOptions">

  <ng-container style="margin-top: 10%;" *ngFor="let slide of imgdata;let i=index">
    <ng-template style="margin-top: 10%;" class="slide" carouselSlide [id]="slide.id">
      <img [ngStyle]="{'height':'45px','width':'135px'}" class='mb-3'
        [ngStyle.sm]="{'height':'100%','width':'100%'}" [src]="slide.img" [alt]="slide.id">
    </ng-template>
  </ng-container>

</owl-carousel-o> -->
<!-- <div style="background-color: rgba(21, 134, 168, 0.938);" id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
  <div  class="carousel-inner">
    <div  class="  carousel-item active">
      <div class="row">
      <div class="column">
      <img src="assets/images/client-10.png"  alt="...">
    </div>
    <div class="column">
      <img src="assets/images/client-17.png"  alt="...">
    </div>
    <div class="column">
      <img src="assets/images/client-9.png"  alt="...">
    </div>
   
    </div>
    </div>
    <div *ngFor="let data of image ; let i=index " class="carousel-item ">
      <div  class="row">
        <div  *ngFor="let dat of data;let v=index "  class="column">
        <img [src]="data[v]"  alt="...">
      </div>
     
      </div>
    </div>
    
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div> -->

<!-- Example 01 -->
<!-- <nav ngxHideOnScroll [classNameWhenHidden]="'nav--hidden'">
  <h2>Navbar</h2>
</nav>



<h2>
  Scroll down to hide the navbar and the fixed footer. Scroll up to show them
  again.
</h2>

<p *ngFor="let item of getArray(200)">
  Scroll down to hide the navbar and the fixed footer. Scroll up to show them
  again.
</p>

 Example 02 -->
<!-- <div
[ngClass]="{'hidden': !showDiv}" class="scroll-div"
>
  <h2>Fixed footer, with transition on hide/show.</h2>
</div>  -->
<!-- <nav ngx-hide-on-scroll class="nav--hidden">
  <h2>Navbar</h2>
</nav> -->
<!-- <div >
  <p *ngFor="let item of getArray(200)">
    Scroll down to hide the navbar and the fixed footer. Scroll up to show them
    again.
  </p>
</div> -->

<!-- <div class="fixed-footer" ngxHideOnScroll [propertyUsedToHide]="'transform'" [valueWhenHidden]="'translateY(-100%)'"
  [valueWhenShown]="'translateY(5%)'">
  <h2>Fixed footer, with transition on hide/show.</h2>
</div> -->

<div class="carousel-container">
  <div  class="carousel-slide">
     

  </div>
  <!-- <div class="carousel-slide">
    <img src="assets/icons/c2.png">
    <img src="assets/icons/c2.png">
    <img src="assets/icons/c2.png">

  </div> -->
  <!-- <div class="carousel-slide">
    <img src="assets/icons/c3.png">
    <img src="assets/icons/c2.png">

    <img src="assets/icons/c2.png">

  </div> -->
</div>

<div *ngFor="let item of image,let i=index ">
  <div *ngFor="let d of item">

<img [src]='d'>
</div>

</div>

<!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
  Launch static backdrop modal
</button>

<!-- Modal -->
<div  class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content" style="background-color: #000;">
      <div class="modal-header">
        <h1 style="font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: 40px;
        line-height: 48px;
        display: flex;
        align-items: center;
        
        background: linear-gradient(90deg, #CC1696 0%, #CC5D1E 64.69%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        background-clip: text;
        text-fill-color: transparent;" class="modal-title fs-5" id="staticBackdropLabel">Why us</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Understood</button>
      </div>
    </div>
  </div>
</div>



