.cardoffer {
  color: white;
  text-align: center;
  font-style: italic;
  font-size: 17px;
  padding-top: 10vh;
  justify-content: center;
}

.name {
  margin-left: 16%;
}

.offerimg {
  width: 33%;
}

.name input {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: groove;
  //  border: none;
  line-height: 1.2;
  width: 42%;
  box-shadow: none;
  // color: #5DC098;
}

.iconlogo {
  position: relative;
  top: 6vh;
  left: 3vw;
}

header {
  transition: transform 0.3s ease-in-out;
  position: relative;
  top: 0;
  width: 100%;
  color: white;
  background-color: #4c4c4e;
  padding: 0 2rem;
  z-index: 1111;
  height: 110px;
}

.svgdata {
  position: relative;
  right: -3vw;

}

.svgdat {
  position: relative;
  right: 4vw;
  // top: 6vh;
}

header.nav--hidden {
  transform: translateY(-100%);
}

.column {
  // float: right;
  width: 30%;
  padding: 1%;
  // display: flex;
  margin-left: 10px;
}

/* Clearfix (clear floats) */
.row::after {

  content: "";
  clear: both;
  display: table;
}

.column img {
  width: 100%;
  height: 100%;
  padding-left: 25%;
}

.slick-slider {
  width: 90%;
  margin: auto;
}

.askAny {
  margin-top: 6%;
  height: 600px
}

.forBtn {
  cursor: pointer !important;
  position: absolute;
  left: 36%;
  bottom: 20%;
}

.slid {
  position: absoluate;
  height: 400px;
  font-style: italic;
  margin-top: -5%;
  // margin-bottom: 2%; 
}

.slides {
  padding-bottom: 10%;
  margin-top: 5%;
  color: red;
  font-style: italic;
}

.display {
  display: none;
}

.textlabel {
  margin-left: 33%;
}

images {
  width: 300px;
  height: 200px;
}

.header {
  background-color: #4c4c4e;
  position: relative;
  z-index: 11111;
  height: 115px;
  left: 0px;
  cursor: pointer;

}

textarea {
  height: 138px;
  resize: none;
  width: 81%;
  border-radius: 28px;
}

.header a {
  margin-top: 14px;
  font-size: 20px;
  color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-style: italic;
}

.header ul {
  margin-right: 8%;
  justify-content: end;
}

.footer {
  background-color: #1a1a1a;
  // height: 250px;
  // margin-top: 12px;  for testing like taptica on 20-01-2022
}

.footer p {
  // position: relative;
  // left: 0%;
  // right: 24%;
  color: white;
  text-align: center;

  // top: 54px;
}

.footer li {
  cursor: pointer;
  color: white;
  text-align: center;
  font-style: italic;
  width: 17%;
}

.myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100% !important;
  min-height: 100%;

}

#video-bg {
  position: relative;
  width: auto;
  max-width: 100%;
  height: auto;
  background-size: cover;
  //    -webkit-filter: blur(10px);
  //         -moz-filter: blur(10px);
  //         -o-filter: blur(10px);
  //         -ms-filter: blur(10px);
  //         filter: blur(10px);

}

#video-bgs {
  position: relative;
  width: auto;
  min-width: 100%;
  max-width: 100%;
  height: auto;
  background-size: cover;
  //    -webkit-filter: blur(10px);
  //         -moz-filter: blur(10px);
  //         -o-filter: blur(10px);
  //         -ms-filter: blur(10px);
  //         filter: blur(10px);

}

video {
  display: block;
}

.video-container {
  width: 100%;
  // max-height: 600px;
  // max-height: 100%;

  overflow: hidden;
  position: absolute;
  // top: 0;
  right: 0;
  z-index: -100;
}

.video-containers {
  width: 100%;
  // max-height: 600px;
  max-height: 100%;

  overflow: hidden;
  position: relative;
  // top: 0;
  right: 0;
  // z-index: -100;
}

// .video-containers a{

// }
.logo {
  height: 90px;
  width: 100px;
  margin-top: 12px;
  margin-left: 5%;
  border-radius: 7px;
}

.element_content {
  color: rgba(255, 0, 119, 0.74);

  text-align: center;
  font-family: 'Gill Sans', 'Gill Sans MT', ' Calibri', 'Trebuchet MS', sans-serif;

  margin-top: 13rem;
}




.front img,
.back img {
  width: 100%;
  height: 100%;
  margin: 0 auto;


}




// :host {
//   display: block;
//   perspective: 600px;
// }
#partners {
  position: relative;
  height: 400px !important;
  font-style: italic;
  margin-top: 9%;
}

.card {
  box-shadow: 10px 10px 43px -18px rgba(0, 0, 0, 0.75);
  border-radius: 5px;
  height: 220px;
  width: 100%;
  cursor: pointer;
  position: relative;
  transform-style: preserve-3d;
  // margin-bottom: 2.5%;
}

.face {
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #1C315E;

  >img {
    width: 100%;
    height: 100%;
    // object-fit: cover;
    border-radius: inherit;
  }
}

.front {
  -webkit-transform: rotateY(180deg);
  transform: rotateY(180deg);
  // background-color: #1C315E;
}

.clients {
  margin-top: 1.5%;
  top: -50px;
  left: -35px;
  display: block;
  z-index: 999;
  cursor: pointer;
  -webkit-transition-property: all;
  -webkit-transition-duration: 0.3s;
  -webkit-transition-timing-function: ease;
}

.clients:hover {
  transform: scale(1.18);
}

agm-map {
  height: 300px;
}

.title {
  text-align: center;
  margin-left: 10.5%
}

.contact-form {
  display: flex;
  flex-direction: column;
  height: 75%;
  position: relative;
  margin-left: 30%;
  top: 1%;
}

// .contact-form input {
//   -moz-appearance: none;
//   -o-appearance: none;
//   appearance: none;
//   border: none;
//   border-bottom: 1px solid #000;
//   color: #5DC098;
//   line-height: 1.2;
//   width: 300px;
//   max-width: 100%;
// }  
input {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: groove;
  //  border: none;
  line-height: 1.2;
  box-shadow: none;
  width: 64%;
}

.no-outline:focus {
  outline: none;
}

form-control {
  outline: none;
}

.form-control :input {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: groove;
  //  border: none;
  line-height: 1.2;
  box-shadow: none;
}

.form-control:focus {
  outline: none;
}

.selection {
  margin-left: 19%;
}

.selection select {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: groove;
  //  border: none;
  line-height: 1.2;
  width: 30%;
  box-shadow: none;
  color: #5DC098;
}

.contact-form textarea:focus {
  outline: none;
  box-shadow: none;
}

.company {
  margin-left: 14%;
}

.company input {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: groove;
  //  border: none;
  line-height: 1.2;
  width: 39.4%;
  box-shadow: none;
  // color: #5DC098;
}

.email input {
  border-top-style: none;
  border-right-style: none;
  border-left-style: none;
  border-bottom-style: groove;
  //  border: none;
  line-height: 1.2;
  width: 44%;
  box-shadow: none;
  // color: #5DC098;
}

.submit-btn {
  background-color: #2fb7a7;
  margin: auto;
  width: 207px;
  border-color: #2fb7a7;
  font-weight: 600;
  font-size: 13px;
  margin-top: auto;
  height: 40px;
}

.arrow-button {
  font-weight: 600;
  // box-shadow: 7px 7px 5px rgb(0 0 0 / 30%);
  width: 200px;
  display: flex;
  border-radius: 50px;
  justify-content: center;
  padding-right: 35px;
  position: relative;
}

.flatten {
  transition: all 0.3s;
}

button {
  // border-radius: 50px;
  // background-color: transparent;
  // border: 2px solid #fff;
  color: #fff;
  padding: 0.375rem 0;
  font-family: "Zilla Slab";
  max-width: 211px;
  pointer-events: all;
  cursor: pointer;
}

.btn-icon {
  height: 30px;
  width: 40px;
  position: absolute;
  /* left: 0px; */
  right: 7%;
  top: 6%;
}

.contact-form label {
  font-size: 17px
}

.selection select {
  font-size: 15px;
}

.email {
  margin-left: 16%
}

.contact-form div {
  padding-top: 2%;
}

.carousels {
  display: flex;
  margin-left: auto;
  margin-right: auto;

}

.carousels::after {
  content: ' ';
  display: block;
  clear: both;
}

.carousels>div {
  float: left;
  margin-right: -100%;
  cursor: pointer;
  transform-origin: top left;
}

.carousels>div img {
  border-radius: 1rem;
  box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .35)
}

.offermargin {
  margin-top: 10%;
}

.contus {
  padding-left: 5%;
}

.address {
  font-size: 20px;
  // font-style: italic;
  padding-left: 7%;

}

.addres {
  font-size: 20px;
  font-style: italic;
  padding-left: 15%;

}

.conus {
  margin-left: -5%;
}

.contents {
  justify-content: center;
}

.contents a {
  color: white;
  font-size: 15px;
  font-style: italic;
}

.contenting {
  justify-content: center;
}

.contenting a {
  color: gray;
  font-size: 15px;
  font-style: italic;
}

@media (min-width: 320px) and (max-width :435px) {
  .offerimg {
    width: 100%;
  }

  .iconlogo {
    position: relative;
    top: 5vh;
    left: 8vw;
  }

  .column {
    // float: right;
    width: 30vw;
    padding: 0%;
    // display: flex;
    margin-left: 0px;
  }

  .column img {
    width: 100%;
    height: 100%;
    padding-left: 25%;
  }

  .footer li {
    cursor: pointer;
    color: white;
    text-align: center;
    font-style: italic;
    width: 33vw;
  }

  .carousel-item {
    margin-top: 10vh;
  }

  .svgdata {
    position: relative;
    right: -3vw;
    top: 6vh;
  }

  .svgdat {
    position: relative;
    right: 4vw;
    top: 6vh;
  }

  // .slidedata{
  //   position: relative;
  //   margin-top:3vh
  // }
  .logo {
    height: 72px;
    width: 80px;
    margin-top: 12px;
    margin-left: 3%;
    border-radius: 7px;
  }

  .menulogo {
    position: absolute;
    right: 2%;
    bottom: 7vh;
  }

  .logos {

    background-color: transparent;
    box-shadow: none;
    border-radius: none;
  }

  .logos li a {
    font-style: italic;
    color: black;
    box-shadow: none;

  }

  .Mobile {

    background-color: #4c4c4e;
    position: relative;

    height: 115px;




  }

  .footer p {
    // position: relative;
    // left: 0%;
    // right: 24%;
    color: white;
    text-align: inherit;
    padding-left: 10%;
    // font-size: 60px;

    // top: 54px;
  }

  .contents {
    justify-content: inherit;
    padding-left: 0.5%;
  }

  .arrow-button {
    font-weight: 600;
    box-shadow: 7px 7px 5px rgb(0 0 0 / 30%);
    border-radius: 50px;
    display: flex;
    border: 2px solid #fff;
    justify-content: center;
    // padding-right: 35px;
    position: relative;
  }

  .submit-btn {
    border: 2px solid #2fb7a7;
    background-color: #2fb7a7;
    margin: 0;
    margin-left: 15%;
    margin-top: 6vh;
    // width: 207px;
    border-color: #2fb7a7;
    // font-weight: 600;
    font-size: 13px;
    // margin-top: auto;
    height: 40px;
  }

  .selection select {
    font-size: 12px
  }

  .company {
    margin-left: 0%;
  }

  .company input {
    width: 54vw;
  }

  .email {
    margin-left: 0%
  }

  .email input {
    width: 66vw;
  }

  .name {
    margin-left: 0%
  }

  .name input {
    width: 66vw;
  }

  .contact-form {
    position: inherit;
    margin-left: 0%;
    display: flex;
    flex-direction: column;
    height: 75%;
  }

  .title {


    margin-left: 1%;
  }

  .forBtn {
    cursor: pointer !important;
    position: absolute;
    justify-self: center;
    bottom: 20%;
  }

  .slid {
    position: absoluate;
    height: 200px;
    font-style: italic;
    margin-top: -7%;
  }

  .slides {
    padding-bottom: 0%;
    margin-top: 4vh;
    color: red;
    font-style: italic;
  }

  .carousels {
    display: flex;
    margin-left: 0 !important;
    margin-right: auto;

  }

  .carousels::after {
    content: ' ';
    display: block;
    clear: both;
  }

  .carousels>div {
    float: left;
    margin-right: -100%;
    cursor: pointer;
    transform-origin: top left;
  }

  .carousels>div img {
    border-radius: 1rem;
    box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .35)
  }

  .width {
    width: 100%;
    height: auto;
  }

  #video-bgs {
    position: relative;
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    height: auto;
    background-size: cover;
    //    -webkit-filter: blur(10px);
    //         -moz-filter: blur(10px);
    //         -o-filter: blur(10px);
    //         -ms-filter: blur(10px);
    //         filter: blur(10px);

  }

  .video-containers {
    width: 100vw;
    // max-height: 600px;
    max-height: 100vw;

    overflow: hidden;
    position: relative;
    // top: 0;
    right: 0;
    // z-index: -100;
  }

  // .display {
  //   display: block;
  // }

  .images {
    width: 180px;
    height: 140px;
  }

  .textlabel {
    margin-left: 20vw;
    // text-align: center;
  }

  .header {
    background-color: #4c4c4e;
    position: relative;
    z-index: 11111;
    height: 115px;
    left: 0px;
    cursor: pointer;

  }

  .header a {
    margin-top: 14px;
    font-size: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
  }

  .header ul {
    margin-right: 4% !important;
    justify-content: end;
  }

  .offermargin {
    margin-top: 6vh;
  }

  .contus {
    padding-left: 0px;
  }

  .address {
    font-size: 20px;
    // font-style: italic;
    padding-left: 10vw;

  }

  textarea {
    height: 100px;
    resize: none;
    width: 86vw;
    border-radius: 28px;
  }

  input {
    width: 62vw;
  }

  .offer {
    padding-left: 0px;
    padding-right: 0px;
  }

  .selection {
    margin-left: 1vw;
  }

  .selection select {
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: groove;
    //  border: none;
    line-height: 1.2;
    width: 45vw;
    box-shadow: none;
    color: #5DC098;
  }
}

@media (min-width: 500px) and (max-width :600px) {
  .offerimg {
    width: 100%;
  }

  .carousel-item {
    margin-top: 10vh;
  }

  .footer li {
    cursor: pointer;
    color: white;
    text-align: center;
    font-style: italic;
    // width: 17%;
  }

  .display {
    display: block;
  }

  .images {
    width: 180px;
    height: 140px;
  }

  .textlabel {
    margin-left: 20%;
  }

  .header {
    background-color: #4c4c4e;
    position: relative;
    z-index: 11111;
    height: 115px;
    left: 0px;
    cursor: pointer;

  }

  .header a {
    margin-top: 14px;
    font-size: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
  }

  .header ul {
    margin-right: 4% !important;
    justify-content: end;
  }

  .offermargin {
    margin-top: 24%;
  }

  .contus {
    padding-left: 5%;
  }

  .address {
    font-size: 20px;
    // font-style: italic;
    padding-left: 10%;

  }

  textarea {
    height: 100px;
    resize: none;
    width: 86%;
    border-radius: 28px;
  }

  input {
    width: 66%;
  }

  .offer {
    padding-left: 0%;
    padding-right: 0%;
  }
}

@media (min-width: 600px) and (max-width :768px) {
  .offerimg {
    width: 100%;
  }

  .name {
    margin-left: 8%;
  }

  .name input {
    width: 66vw;
  }

  .contact-form label {
    font-size: 17px
  }

  .carousel-item {
    margin-top: 10vh;
  }

  .footer li {
    cursor: pointer;
    color: white;
    text-align: center;
    font-style: italic;
    // width: 17%;
  }

  .svgdata {
    position: relative;
    right: -3vw;
    top: 6vh;
  }

  .svgdat {
    position: relative;
    right: 4vw;
    top: 6vh;
  }

  .display {
    display: block;
  }

  .images {
    width: 180px;
    height: 140px;
  }

  .textlabel {
    margin-left: 20%;
  }

  .header {
    background-color: #4c4c4e;
    position: relative;
    z-index: 11111;
    height: 115px;
    left: 0px;
    cursor: pointer;

  }

  .header a {
    margin-top: 14px;
    font-size: 13px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
  }

  .header ul {
    margin-right: 4% !important;
    justify-content: end;
  }

  .offermargin {
    margin-top: 18%;
  }

  .contus {
    margin-left: 20%;

  }

  .address {
    font-size: 20px;
    // font-style: italic;
    padding-left: 10%;

  }

  textarea {
    height: 100px;
    resize: none;
    border-radius: 28px;
    width: 86%
  }

  input {
    width: 60%;
  }

  .offer {
    padding-left: 0%;
    padding-right: 0%;
  }

  .selection {
    margin-left: 5%;

  }

  .selection select {
    width: 30%;
  }

  .company {
    margin-left: 1%;
  }

  .company input {
    width: 39.4%;
  }

}

@media (min-width: 768px) and (max-width :840px) {
  .cardoffer{
    padding-top: 6vh;
  }
  .offerimg {
    width: 50%
  }

  .contact-form {
    margin-left: 10%;

  }

  .contact-form label {
    font-size: 20px;
  }

  .name {
    margin-left: 16vw;
  }

  .name input {
    width: 33vw;
  }

  .iconlogo {
    position: relative;
    top: 4vh;
    left: -1vw;
  }

  .heading {
    padding-left: 40px;
  }

  .carousel-item {
    margin-top: 10vh;
  }

  .footer li {
    cursor: pointer;
    color: white;
    text-align: center;
    font-style: italic;
    width: 17%;
  }

  .svgdata {
    position: relative;
    right: -3vw;
    top: 6vh;
  }

  .svgdat {
    position: relative;
    right: 4vw;
    top: 6vh;
  }

  .title h1 {
    font-size: 3rem;
    font-style: italic;
    color: #000;
  }

  .display {
    display: block;
  }

  .images {
    width: 180px;
    height: 140px;
  }

  .textlabel {
    margin-left: 30vw;
  }

  .header {
    background-color: #4c4c4e;
    position: relative;
    z-index: 11111;
    height: 115px;
    left: 0px;
    cursor: pointer;

  }

  .header a {
    margin-top: 14px;
    font-size: 14px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
  }

  .header ul {
    margin-right: 4% !important;
    justify-content: end;
  }

  .offermargin {
    margin-top: 18%;
  }

  .contus {
    margin-left: 20%;

  }

  .address {
    font-size: 20px;
    // font-style: italic;
    padding-left: 0%;

  }

  textarea {
    height: 138px;
    resize: none;
    width: 100%;
    border-radius: 28px;
    margin-left: 5vw;
  }

  input {
    width: 60%;
  }

  .email {
    margin-left: 18%;
  }

  .email input {
    width: 64%;
  }

  .offer {
    padding-left: 0%;
    padding-right: 0%;
  }

  .selection {
    margin-left: 22vw;

  }

  .selection select {
    width: 33%;
    font-size: 17px;
  }

  .selection option {
    font-size: 12px !important;
  }

  .company {
    margin-left: 18%;
  }

  .company input {
    width: 52.4%;
  }

}

@media (min-width: 840px) and (max-width :900px) {
  .cardoffer{
    padding-top: 6vh;
  }
  .email {
    margin-left: 18vw;
  }

  .email input {
    width: 65%;
  }

  .name {
    margin-left: 12vw;
  }

  .name input {
    width: 33vw;
  }

  .offerimg {
    width: 50%;
  }

  .contact-form label {
    font-size: 17px
  }

  .contact-form {
    margin-left: 17%;
    justify-content: center;
  }

  .iconlogo {
    position: relative;
    top: 4vh;
    left: 0vw;
  }

  .heading {
    padding-left: 40px;
  }

  .carousel-item {
    margin-top: 10vh;
  }

  .footer li {
    cursor: pointer;
    color: white;
    text-align: center;
    font-style: italic;
    width: 17%;
  }

  .svgdata {
    position: relative;
    right: -3vw;
    top: 6vh;
  }

  .svgdat {
    position: relative;
    right: 5vw;
    top: 6vh;
  }

  .title h1 {
    font-size: 3rem;
    font-style: italic;
    color: #000;
  }

  .display {
    display: block;
  }

  .images {
    width: 180px;
    height: 140px;
  }

  .textlabel {
    margin-left: 24vw;
  }

  .header {
    background-color: #4c4c4e;
    position: relative;
    z-index: 11111;
    height: 115px;
    left: 0px;
    cursor: pointer;

  }

  .header a {
    margin-top: 14px;
    font-size: 14px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
  }

  .header ul {
    margin-right: 4% !important;
    justify-content: end;
  }

  .offermargin {
    margin-top: 18%;
  }

  .contus {
    margin-left: 20%;

  }

  .address {
    font-size: 20px;
    // font-style: italic;
    padding-left: 0px;

  }

  textarea {
    height: 138px;
    resize: none;
    width: 100%;
    border-radius: 28px;
    margin-left: 5vw;
  }



  .offer {
    padding-left: 8%;
    padding-right: 1%;
  }

  .selection {
    margin-left: 20vw;

  }

  .selection select {
    width: 35%;
  }

  .company {
    margin-left: 14vw;
  }

  .company input {
    width: 56%;
  }

}

@media (min-width: 990px) and (max-width : 1040px) {
  .carousel-item {
    margin-top: 10vh;
  }

  .footer li {
    cursor: pointer;
    color: white;
    text-align: center;
    font-style: italic;
    width: 17%;
  }

  .title h1 {
    font-size: 3rem;
    font-style: italic;
    color: #000;
  }

  .display {
    display: none;
  }

  .header {
    background-color: #4c4c4e;
    position: relative;
    z-index: 11111;
    height: 115px;
    left: 0px;
    cursor: pointer;

  }

  .header a {
    margin-top: 14px;
    font-size: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
  }

  .header ul {
    margin-right: 4% !important;
    justify-content: end;
  }

  .offermargin {
    margin-top: 10%;
  }

  .contus {
    padding-left: 5%;
  }

  .address {
    font-size: 20px;
    // font-style: italic;
    padding-left: 10%;

  }

  textarea {
    height: 138px;
    resize: none;
    width: 86%;
    border-radius: 28px;
  }

  input {
    width: 66%;
    ;
  }

  .offer {
    padding-left: 2%;
    // padding-right: 1%;
  }
}

@media (min-width: 1050px) and (max-width : 1198px) {
  .footer li {
    cursor: pointer;
    color: white;
    text-align: center;
    font-style: italic;
    width: 17%;
  }

  .title h1 {
    font-size: 3rem;
    font-style: italic;
    color: #000;
  }

  .display {
    display: none;
  }

  .header {
    background-color: #4c4c4e;
    position: relative;
    z-index: 11111;
    height: 115px;
    left: 0px;
    cursor: pointer;

  }

  .header a {
    margin-top: 14px;
    font-size: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
  }

  .header ul {
    margin-right: 4% !important;
    justify-content: end;
  }

  .offer {
    padding-left: 10%;
    padding-right: 1%;
  }

  .offermargin {
    margin-top: 10%;
  }

  .contus {
    padding-left: 5%;
  }

  .address {
    font-size: 20px;
    // font-style: italic;
    padding-left: 10%;

  }

  textarea {
    height: 138px;
    resize: none;
    border-radius: 28px;
    width: 86%;
  }

  input {
    width: 66%;
    ;
  }

}

@media (min-width: 1260px) and (max-width : 1399px) {
  .footer li {
    cursor: pointer;
    color: white;
    text-align: center;
    font-style: italic;
    width: 17%;
  }

  .title h1 {
    font-size: 3rem;
    font-style: italic;
    color: #000;
  }

  .display {
    display: none;
  }

  .header {
    background-color: #4c4c4e;
    position: relative;
    z-index: 11111;
    height: 115px;
    left: 0px;
    cursor: pointer;

  }

  .header a {
    margin-top: 14px;
    font-size: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
  }

  .header ul {
    margin-right: 4% !important;
    justify-content: end;
  }

  .offer {
    padding-left: 9.9%;
    padding-right: 1%;
  }

  .offermargin {
    margin-top: 10%;
  }

  .contus {
    padding-left: 5%;
  }

  .address {
    font-size: 20px;
    // font-style: italic;
    padding-left: 10%;

  }

  textarea {
    height: 138px;
    border-radius: 28px;
    resize: none;
    width: 85%;
  }

  input {
    width: 69%;
    ;
  }

  .selection {
    margin-left: 19%;
  }

  .selection select {
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: groove;
    //  border: none;
    line-height: 1.2;
    width: 30%;
    box-shadow: none;
    color: #5DC098;
  }

  .company input {
    width: 39.4%;
  }

}

@media (min-width: 1399px) and (max-width : 1480px) {
  .footer li {
    cursor: pointer;
    color: white;
    text-align: center;
    font-style: italic;
    width: 17%;
  }

  .title h1 {
    font-size: 3rem;
    font-style: italic;
    color: #000;
  }

  .display {
    display: none;
  }

  .header {
    background-color: #4c4c4e;
    position: relative;
    z-index: 11111;
    height: 115px;
    left: 0px;
    cursor: pointer;

  }

  .header a {
    margin-top: 14px;
    font-size: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
  }

  .header ul {
    margin-right: 4% !important;
    justify-content: end;
  }

  .offer {
    padding-left: 10%;
    padding-right: 1%;
  }

  .offermargin {
    margin-top: 10%;
  }

  .contus {
    padding-left: 5%;
  }

  .address {
    font-size: 20px;
    // font-style: italic;
    padding-left: 10%;

  }

  textarea {
    height: 138px;
    border-radius: 28px;
    resize: none;
    width: 83%
  }

  input {
    width: 68%;
  }

  .selection {
    margin-left: 19%;
  }

  .selection select {
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: groove;
    //  border: none;
    line-height: 1.2;
    width: 30%;
    box-shadow: none;
    color: #5DC098;
  }

  .company input {
    width: 39.4%;
  }

}

@media (min-width: 1480px) and (max-width : 1650px) {
  .footer li {
    cursor: pointer;
    color: white;
    text-align: center;
    font-style: italic;
    width: 17%;
  }

  .title h1 {
    font-size: 3rem;
    font-style: italic;
    color: #000;
  }

  .display {
    display: none;
  }

  .header {
    background-color: #4c4c4e;
    position: relative;
    z-index: 11111;
    height: 115px;
    left: 0px;
    cursor: pointer;

  }

  .header a {
    margin-top: 14px;
    font-size: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
  }

  .header ul {
    margin-right: 4% !important;
    justify-content: end;
  }

  .offer {
    padding-left: 14.5%;
    padding-right: 0%;
  }

  .offermargin {
    margin-top: 10%;
  }

  .contus {
    padding-left: 5%;
  }

  .address {
    font-size: 20px;
    // font-style: italic;
    padding-left: 10%;

  }

  textarea {
    height: 138px;
    border-radius: 28px;
    resize: none;
    width: 83%
  }

  input {
    width: 68%;
  }

  .selection {
    margin-left: 19%;
  }

  .selection select {
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: groove;
    //  border: none;
    line-height: 1.2;
    width: 30%;
    box-shadow: none;
    color: #5DC098;
  }

  .company input {
    width: 39.4%;
  }

}

@media (min-width: 1650px) and (max-width : 1760px) {
  .footer li {
    cursor: pointer;
    color: white;
    text-align: center;
    font-style: italic;
    width: 17%;
  }

  .title h1 {
    font-size: 3rem;
    font-style: italic;
    color: #000;
  }

  .display {
    display: none;
  }

  .header {
    background-color: #4c4c4e;
    position: relative;
    z-index: 11111;
    height: 115px;
    left: 0px;
    cursor: pointer;

  }

  .header a {
    margin-top: 14px;
    font-size: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
  }

  .header ul {
    margin-right: 4% !important;
    justify-content: end;
  }

  .offer {
    padding-left: 20%;
    padding-right: 0%;
  }

  .offermargin {
    margin-top: 10%;
  }

  .contus {
    padding-left: 5%;
  }

  .address {
    font-size: 20px;
    // font-style: italic;
    padding-left: 10%;

  }

  textarea {
    height: 138px;
    border-radius: 28px;
    resize: none;
    width: 83%
  }

  input {
    width: 68%;
  }

  .selection {
    margin-left: 19%;
  }

  .selection select {
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: groove;
    //  border: none;
    line-height: 1.2;
    width: 30%;
    box-shadow: none;
    color: #5DC098;
  }

  .company input {
    width: 39.4%;
  }

}

@media (min-width: 1760px) and (max-width : 1960px) {
  .footer li {
    cursor: pointer;
    color: white;
    text-align: center;
    font-style: italic;
    width: 17%;
  }

  .title h1 {
    font-size: 3rem;
    font-style: italic;
    color: #000;
  }

  .display {
    display: none;
  }

  .header {
    background-color: #4c4c4e;
    position: relative;
    z-index: 11111;
    height: 115px;
    left: 0px;
    cursor: pointer;

  }

  .header a {
    margin-top: 14px;
    font-size: 20px;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
  }

  .header ul {
    margin-right: 4% !important;
    justify-content: end;
  }

  .offer {
    padding-left: 26.5%;
    padding-right: 0%;
  }

  .offermargin {
    margin-top: 10%;
  }

  .contus {
    padding-left: 5%;
  }

  .address {
    font-size: 20px;
    // font-style: italic;
    padding-left: 10%;

  }

  textarea {
    height: 138px;
    border-radius: 28px;
    resize: none;
    width: 83%
  }

  input {
    width: 68%;
  }

  .selection {
    margin-left: 19%;
  }

  .selection select {
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: groove;
    //  border: none;
    line-height: 1.2;
    width: 35%;
    box-shadow: none;
    color: #5DC098;
  }

  .company input {
    width: 39.4%;
  }

}