<div #home>
  <div *ngIf="width>600" class="header   ">
    <div style="height: 10px;">
      <img src="assets/mobpro.jpg" class="logo" alt="">
    </div>


    <ul #Home class="nav ">
      <li class="nav-item">
        <a class="nav-link active" (click)="scroll(Home)">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="scroll(offers)">We Offer</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="scroll(patners)">Our Patners </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="scroll(advertiser)">Advertisers </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="scroll(publisher)">Publishers </a>
      </li>
      <!-- <li class="nav-item">
      <a class="nav-link " style="cursor: pointer;">Why Us?</a>
    </li> -->
      <li class="nav-item">
        <a class="nav-link " (click)="scroll(askus)">Ask Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link " (click)="scroll(contact)">Contact Us</a>
      </li>
    </ul>
  </div>
  <div *ngIf="width<500" class="Mobile" [ngStyle]="{'width':widths}">
    <div>
      <img src="assets/mobpro.jpg" class="logo" alt="">
      <span class="nav-item ">
        <!-- <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
      My Profile
    </a> -->
        <img src="assets/icons/menu.png" alt="" class="nav-link dropdown-toggle menulogo" href="#" role="button"
          data-bs-toggle="dropdown" aria-expanded="false">
        <ul class="dropdown-menu logos">


          <li>
            <a class="dropdown-item" (click)="scroll(home)">Home</a>
          </li>
          <li>
            <a class="dropdown-item" (click)="scroll(offers)">We Offer</a>
          </li>
          <li>
            <a class="dropdown-item" (click)="scroll(patners)">Our Patners </a>
          </li>
          <li>
            <a class="dropdown-item" (click)="scroll(advertiser)">Advertisers </a>
          </li>
          <li>
            <a class="dropdown-item" (click)="scroll(publisher)">Publishers </a>
          </li>
          <!-- <li class="nav-item">
        <a class="nav-link " style="cursor: pointer;">Why Us?</a>
      </li> -->
          <li>
            <a class="dropdown-item" (click)="scroll(askus)">Ask Us</a>
          </li>
          <li>
            <a class="dropdown-item" (click)="scroll(contact)">Contact Us</a>
          </li>
        </ul>
      </span>
    </div>
  </div>

  <div>
    <div *ngIf="width>620" class="video-containers ">
      <video autoplay muted loop playsinline allow="autoplay" style="width: 100%;">
        <source id="video-bgs" autoplay muted loop playsinline allow="autoplay" src="assets/work.mp4"
          type="video/mp4" />
        Your browser does not support HTML5 video.

      </video>

    </div>
    <div *ngIf="width<619" class="video-containers ">
      <div>
        <video autoplay muted loop playsinline allow="autoplay" [ngStyle]="{'width':'100vw'}"
          [ngStyle.lt-md]="{'width':widths}" [ngStyle.md]="{'width':widths}">
          <source id="video-bgs" autoplay muted loop playsinline allow="autoplay" src="assets/work.mp4"
            type="video/mp4" />
          Your browser does not support HTML5 video.

        </video>
      </div>
    </div>
  </div>

  <!-- <div  class="element_content ">
    <div>
      <h1 style="font-style:italic !important;">
        <teximate #teximate [text]="name" [enter]="enterAnimation"></teximate>
      </h1>
    </div>
  </div> -->


  <div #offers>
    <div *ngIf="width>620" class="w-100  ">
      <div class="row w-100 container offer">


        <div class="carousels  offermargin" [style.width.px]="cellWidth">
          <div #element class=" justify-content-center " *ngFor="let i of [0, 2, 4, 12, 14]; let index = index"
            (mouseover)="indexToFront(index)" (click)="indexToFront(index)">
            <img [ngStyle]="{'width':'300px','height':'178px'}" [ngStyle.lt-md]="{'width':'215px','height':'143px'}"
              (load)="index == 0 && getDimensions(element)" [src]="offer[index]" />
          </div>
        </div>
      </div>

    </div>
    <div *ngIf="width<619" class="w-100  ">
      <div class="row w-100 container offer">


        <div class="carousels  offermargin" [style.width.px]="cellWidth">
          <div #element class=" justify-content-center " *ngFor="let i of [0, 2, 4, 12, 14]; let index = index"
            (mouseover)="indexToFront(index)" (click)="indexToFront(index)">
            <img [ngStyle]="{'width':'300px','height':'178px'}" [ngStyle.lt-md]="{'width':'209px','height':'143px'}"
              (load)="index == 0 && getDimensions(element)" [src]="offer[index]" />
          </div>
        </div>
      </div>

    </div>

  </div>



  <div style="background-color: #e9e44b;" class="slid">
    <div #patners >
      <div class="slides">
        <!-- <h1 class="text-center  " style="font-style: italic;"> We Successfully Advertisered The below Advertisers</h1> -->
      </div>
      <!-- Commented sliding patners on 20-12-2022 -->
      <!-- <owl-carousel-o [options]="customOptions">

        <ng-container style="margin-top: 10%;" *ngFor="let slide of imgdata;let i=index">
          <ng-template style="margin-top: 10%;" class="slide" carouselSlide [id]="slide.id">
            <img [ngStyle]="{'height':'45px','width':'135px'}" class='mb-3'
              [ngStyle.sm]="{'height':'100%','width':'100%'}" [src]="slide.img" [alt]="slide.id">
          </ng-template>
        </ng-container>

      </owl-carousel-o> -->
    

      <div  id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
        <div  class="carousel-inner">
          <div  class="  carousel-item active">
            <div class="row">
            <div class="column">
            <img src="assets/images/client-10.png"  alt="...">
          </div>
          <div class="column">
            <img src="assets/images/client-17.png"  alt="...">
          </div>
          <div class="column">
            <img src="assets/images/client-9.png"  alt="...">
          </div>
         
          </div>
          </div>
          <div *ngFor="let data of image ; let i=index "   class="carousel-item ">
            <div   class="row ">
              <div  *ngFor="let dat of data;let v=index " style="padding-left:30px"  class="column">
              <img [src]="data[v]"  alt="...">
            </div>
           
            </div>
          </div>
          
        </div>
        <button   class="carousel-control-prev " type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
          <span  class="carousel-control-prev-icon " aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button   class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
          <span   class="carousel-control-next-icon" aria-hidden="true"></span>
          <span  class="visually-hidden">Next</span>
        </button>
      </div>

    </div>
  </div>


  <div #advertiser>
    <div *ngIf="width>620" class="video-containers">
      <video autoplay muted loop playsinline allow="autoplay" [ngStyle]="{'width':'100vw'}"
        [ngStyle.lt-md]="{'width':widths}">
        <source id="video-bgs" autoplay muted loop playsinline allow="autoplay" allow="loop"
          src="assets/adevertiser.mp4" type="video/mp4" />
        Your browser does not support HTML5 video.

      </video>
      <div class="d-grid gap-2 col-3 mx-auto justify-content-center forBtn">
        <a class="btn btn-primary " href=" https://mobpro.trackier.io/advertiser/" target="_blank">Become An
          Advertiser</a>

      </div>
    </div>
    <div *ngIf="width<619" class="video-containers ">
      <video autoplay muted loop playsinline allow="autoplay" allow="loop" [ngStyle]="{'width':'100vw'}"
        [ngStyle.lt-md]="{'width':widths}">
        <source id="video-bgs" autoplay muted loop playsinline allow="autoplay" allow="loop"
          src="assets/adevertiser.mp4" type="video/mp4" />
        Your browser does not support HTML5 video.

      </video>
      <div class="d-grid gap-2  mx-auto justify-content-center forBtn">
        <a class="btn btn-primary " style='font-size: 12px;' href=" https://mobpro.trackier.io/advertiser/"
          target="_blank">Become An
          Advertiser</a>

      </div>
    </div>
  </div>
  <div #publisher>
    <div *ngIf="width>620" class="video-containers">
      <video style="width: 100%;" autoplay muted loop playsinline allow="autoplay">
        <source id="video-bgs" autoplay muted loop playsinline allow="autoplay" allow="loop" src="assets/nw.mp4"
          type="video/mp4" />
        Your browser does not support HTML5 video.

      </video>
      <div class="d-grid gap-2 col-3 mx-auto justify-content-center forBtn">
        <a class="btn btn-primary " href href=" https://mobpro.trackier.io/publisher" target="_blank">Become A
          Publisher</a>
        <!-- <button style="display: none;" id="btn">hello</button> -->
      </div>
    </div>
    <div *ngIf="width<619" class="video-containers ">
      <video autoplay muted loop playsinline allow="autoplay" [ngStyle]="{'width':'100vw'}"
        [ngStyle.lt-md]="{'width':widths}">
        <source id="video-bgs" autoplay muted loop playsinline src="assets/nw.mp4" type="video/mp4" />
        Your browser does not support HTML5 video.

      </video>
      <div class="d-grid gap-2  mx-auto justify-content-center forBtn">
        <a class="btn btn-primary justify-content-center" style='font-size: 12px;'
          href=" https://mobpro.trackier.io/publisher/" target="_blank">Become A Publisher</a>

      </div>
    </div>
  </div>

  <div #askus class="row container justify-content-center askAny">
    <div *ngIf="width>600" class=" container">
      <div class="title col-12 ">
        <h1 class='justify-content-center'>Ask Us Anything!</h1>
      </div>
      <div class="contact-form">
        <form [formGroup]="form" (ngSubmit)="submit()">
          <div class='mb-3 '>
            <label for="name" class="form-label">My name is </label> &nbsp;
            <input type="text" formControlName="name" style='padding-right:3%' class="no-outline" placeholder="">
          </div>
          <div class='mb-3 selection '>
            <label for="type" class="form-label">and I would to like to</label> &nbsp;
            <select class="no-outline" formControlName="type">
              <option selected value="">Please Select</option>
              <option value="publisher">Become a Publisher</option>
              <option value="adevertiser">Become an Advertiser </option>
              <option value="problem">Report Problem</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="detail" class="mb-2 textlabel">Here are some details...</label>

            <textarea class="form-control " formControlName="detail" placeholder="Leave a comment here"
              id="floatingTextarea2"></textarea>
          </div>
          <div class='mb-3  company'>
            <label for="company" class="form-label">Company name </label> &nbsp;
            <input type="text" style='padding-right:3%' class="no-outline" formControlName="company" placeholder="">
          </div>
          <div class='mb-3 email'>
            <label for="email" class="form-label">My email </label> &nbsp;
            <input type="text" style='padding-right:3%' class="no-outline " formControlName="email" placeholder="">
          </div>
          <div>
            <button class='arrow-button  flatten submit-btn justify-content-center' style="font-size: 16px;">I am
              Interested
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-right-circle btn-icon" viewBox="0 0 16 16">
                <path class='btn-icon' fill-rule="evenodd"
                  d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
              </svg>
            </button>
          </div>
        </form>
      </div>
      <!-- <h2 class="text-center" style="font-style: italic;">We Would like to meet at the below address</h2> -->
      <!-- <div  class='container-fluid col-md-12 ' style="margin-left:10px">
  <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3509.4112247342937!2d77.03964351455434!3d28.406846001011377!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d2299943b9043%3A0x2f521df48a7e3413!2sVipul%20Trade%20Centre!5e0!3m2!1sen!2sin!4v1672724488687!5m2!1sen!2sin" width='600' height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
        </div> -->
    </div>
    <div *ngIf="width<600" class=" container">
      <div style="margin-left: 1%;">
        <h1>Ask Us Anything!</h1>
      </div>
      <div>
        <form [formGroup]="form" (ngSubmit)="submit()">
          <div class='mb-3 '>
            <label for="name" class="form-label">My name is </label> &nbsp;
            <input type="text" formControlName="name" style='padding-right:3%' class="no-outline" placeholder="">
          </div>
          <div class='mb-3 selection'>
            <label for="type" class="form-label">and I would to like to</label> &nbsp;
            <select class="  no-outline" formControlName="type">
              <option selected value="">Please Select</option>
              <option value="publisher">Become a Publisher</option>
              <option value="adevertiser">Become an Advertiser </option>
              <option value="problem">Report Problem</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="detail" class="mb-2 textlabel">Here are some details...</label>

            <textarea class=" mb-3 form-control " formControlName="detail" placeholder="Leave a comment here"
              id="floatingTextarea2"></textarea>
          </div>
          <div class='mb-3 company'>
            <label for="company" class="form-label">Company name </label> &nbsp;
            <input type="text" class="no-outline" formControlName="company" placeholder="">
          </div>
          <div class='mb-3 email'>
            <label for="email" class="form-label">My email </label> &nbsp;
            <input type="text" class="no-outline " formControlName="email" placeholder="">
          </div>
          <div>
            <button class='arrow-button  flatten submit-btn justify-content-center' style="font-size: 16px;">I am
              Interested
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                class="bi bi-arrow-right-circle btn-icon" viewBox="0 0 16 16">
                <path class='btn-icon' fill-rule="evenodd"
                  d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z" />
              </svg>
            </button>
          </div>
        </form>
      </div>
      <!-- <h2 class="text-center" style="font-style: italic;">We Would like to meet at the below address</h2> -->
      <!-- <div  class='container-fluid col-md-12 ' style="margin-left:10px">
  <iframe  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3509.4112247342937!2d77.03964351455434!3d28.406846001011377!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d2299943b9043%3A0x2f521df48a7e3413!2sVipul%20Trade%20Centre!5e0!3m2!1sen!2sin!4v1672724488687!5m2!1sen!2sin" width='600' height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
    </iframe>
        </div> -->
    </div>

  </div>

  <div #contact class="container-fluid">
    <!-- <div class="row">
      <div *ngIf="width>600" class="col-md-6 ">
        <div class="contus">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3509.4112247342937!2d77.03964351455434!3d28.406846001011377!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d2299943b9043%3A0x2f521df48a7e3413!2sVipul%20Trade%20Centre!5e0!3m2!1sen!2sin!4v1672724488687!5m2!1sen!2sin"
            width='500' height="450" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
      </div>
      <div *ngIf="width<550" class="col-md-6 ">
        <div>
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3509.4112247342937!2d77.03964351455434!3d28.406846001011377!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d2299943b9043%3A0x2f521df48a7e3413!2sVipul%20Trade%20Centre!5e0!3m2!1sen!2sin!4v1672724488687!5m2!1sen!2sin"
            width={{widths}} height="300" style="border:0;" allowfullscreen="" loading="lazy"
            referrerpolicy="no-referrer-when-downgrade">
          </iframe>
        </div>
      </div>
      <div fxHide.lt-md class=" col-md-6 ">
        <div>


          <h1 align="center">India Headquarters</h1>
          <address class="address">
            <p><strong>Mobpro </strong><br><br>

              418,Vipul Trade Center<br>Sector 48

              Gurugram, Haryana 122001, India</p>

            <p>Email : sales@mobprodigital.mobi</p>

          </address>

        </div>

      </div>
      <div class=" display">
        <div class="row">


          <h1 align="center">India Headquarters</h1>
          <address class="addres">
            <p><strong>Mobpro </strong><br><br>

              418,Vipul Trade Center<br>Sector 48

              Gurugram, Haryana 122001, India</p>

            <p>Email : sales@mobprodigital.mobi</p>

          </address>

        </div>

      </div>
      <div *ngIf="width<500">
        <div class="row container" style="padding-left: 0.6%;font-style: italic;">


          <h1 style="font-style: italic;">India Headquarter</h1>
          <address style="font-style: italic;">
            <p><strong>Mobpro </strong><br><br>

              418,Vipul Trade Center<br>Sector 48

              Gurugram, Haryana 122001, India</p>

            <p>Email : sales@mobprodigital.mobi</p>

          </address>

        </div>

      </div>
    </div> -->

    <div style="background-color: aqua;height: 400px;" class="row" >
      <div style="width: 35%;"></div>
      <div style="width: 65%;">
      <div fxHide.lt-md  style="padding-top: 50px;justify-items: flex-end;" class=" col-md-6 ">
        <div>
<span style="    position: relative;
top: 45px;
left: 30px;">
  <img style="    height: 73px;
  width: 85px;
  border-radius: 1rem;" src="assets/icons/flag.jpg" alt="">
</span>

  <h1 align="center"> India Headquarter </h1>
  
          <address class="address">
 

            <p><strong>Mobpro </strong><br><br>

              418,Vipul Trade Center<br>Sector 48

              Gurugram, Haryana 122001, India</p>

            <p>Email : sales@mobprodigital.mobi</p>

          </address>

        </div>

      </div>
     </div>
    </div>
  </div>
</div>

<div style="height: fit-content;">
  <div class="footer">

<br> <br>
    <ul class="nav contents">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" (click)="scroll(advertiser)">ADVERTISER</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="scroll(offers)">OUR EXPERTISE</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="scroll(askus)">ASK US</a>
      </li>

    </ul>
    <ul class="nav contents">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page" (click)="scroll(publisher)">PUBLISHER</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="scroll(patners)">PATNERS</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="scroll(contact)">CONTACT US</a>
      </li>

    </ul>
    <br>
    <!-- </li> -->

    <hr style="color: white;border-top:4px solid white;">
    <p style="font-size: 30px;"> © 2023 Mobpro. All rights reserved
      <!-- <li class="nav-item"> -->
    </p>
    <br>

    <a (click)="scroll(home)" class="back-to-top  " style="display: block;
                position: fixed;
                bottom: 20px;
                cursor: pointer;
                right: 17px;"> <svg xmlns="http://www.w3.org/2000/svg" width="50" height="40" fill="currentColor"
        class="bi bi-arrow-up-circle" viewBox="0 0 16 16">
        <path fill-rule="evenodd"
          d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-7.5 3.5a.5.5 0 0 1-1 0V5.707L5.354 7.854a.5.5 0 1 1-.708-.708l3-3a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1-.708.708L8.5 5.707V11.5z" />
      </svg>
    </a>

  </div>
</div>